<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cueclad.flutterrazorpay">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application>
        <activity
            android:name=".RazorpayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|navigation"></activity>

    </application>

</manifest>